@model SignalRQRReservationWebUI.Dtos.AboutDtos.CreateAboutDto

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Yazı Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="imageURL">Resim URL</label>
                                <input type="text" class="form-control" asp-for="ImageURL" id="imageURL">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title1">Başlık1</label>
                                <input type="text" class="form-control" asp-for="Title1" id="title1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title2">Başlık2</label>
                                <input type="text" class="form-control" asp-for="Title2" id="title2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title2Description">Başlık2 Açıklama</label>
                                <input type="text" class="form-control" asp-for="Title2Description" id="title2Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title2MiniDescription">Başlık 2 Kısa Açıklama</label>
                                <input type="text" class="form-control" asp-for="Title2MiniDescription" id="title2MiniDescription">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title1Description">Başlık1 Açıklama</label>
                                <input type="text" class="form-control" asp-for="Title1Description" id="title1Description">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="birthday">Doğum Tarihi</label>
                                <input type="text" class="form-control" asp-for="Birthday" id="birthday">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" class="form-control" asp-for="Phone" id="phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="address">Adres</label>
                                <input type="text" class="form-control" asp-for="Address" id="address">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="age">Yaş</label>
                                <input type="text" class="form-control" asp-for="Age" id="age">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="education">Eğitim</label>
                                <input type="text" class="form-control" asp-for="Education" id="education">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="mail">Mail</label>
                                <input type="text" class="form-control" asp-for="Mail" id="mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="experience">Deneyim</label>
                                <input type="text" class="form-control" asp-for="Experience" id="experience">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Hakkımda Yazısını Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

